[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

gunicorn = "*"
requests = "*"
line-bot-sdk = "*"
click = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
itsdangerous = "*"
Jinja2 = "*"
MarkupSafe = "*"
Werkzeug = "*"
psycopg2 = "*"

[requires]

python_version = "3.5.2"
